{% load static %}
body {
    height: 135vh;
    background: linear-gradient(to bottom, DeepSkyBlue, DarkBlue);
}

h1 {
    font-size: 120px;
    font-family: "Accuratist";
    font-weight: bolder;
    text-shadow: 3px 3px 10px white, 0 0 1em white;
    color: Indigo;
    margin: 20px 30px 30px 530px;
}

.roomTemperature {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24px;
    color: Indigo;
}

.containerCanvas {
    position: relative;
    margin: 30px 50px 30px 50px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 1);
    background-color: white;
    text-align: center;
    width: 1500px;
    height: 700px;
}

#appLayout {
    border: 1px solid black;
}

#lightSwitcherRoom1 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 80px;
}

#lightSwitcherRoom2 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 380px;
}

#lightSwitcherRoom3 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 1130px;
}

#lightSwitcherRoom4 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 210px;
    left: 80px;
}

#lightSwitcherRoom5 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 360px;
    left: 80px;
}

#lightSwitcherRoom6 {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 260px;
    left: 580px;
}

.switchOpacity {
    opacity: 0.5;
}



.light1Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 100px;
    left: 66px;
}

#light1handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 100px;
    left: 85px;
}

#light1owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 70px;
}

#light1sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 100px;
}

.light2Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 100px;
    left: 366px;
}

#light2handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 100px;
    left: 385px;
}

#light2owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 370px;
}

#light2sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 400px;
}

.light3Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 100px;
    left: 1116px;
}

#light3handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 100px;
    left: 1135px;
}

#light3owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 1120px;
}

#light3sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 130px;
    left: 1150px;
}

.light4Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 250px;
    left: 66px;
}

#light4handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 250px;
    left: 85px;
}

#light4owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 280px;
    left: 70px;
}

#light4sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 280px;
    left: 100px;
}

.light5Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 400px;
    left: 66px;
}

#light5handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 400px;
    left: 85px;
}

#light5owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 430px;
    left: 70px;
}

#light5sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 430px;
    left: 100px;
}

.light6Mode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 300px;
    left: 566px;
}

#light6handMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 300px;
    left: 585px;
}

#light6owmMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 330px;
    left: 570px;
}

#light6sheduleMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 330px;
    left: 600px;
}

#temp1now {
    position: absolute;
    margin: 0;
    top: 75px;
    left: 275px;
}

#temp2now {
    position: absolute;
    margin: 0;
    top: 75px;
    left: 475px;
}

#temp3now {
    position: absolute;
    margin: 0;
    top: 75px;
    left: 1225px;
}

#temp4now {
    position: absolute;
    margin: 0;
    top: 225px;
    left: 275px;
}

#temp5now {
    position: absolute;
    margin: 0;
    top: 375px;
    left: 475px;
}

#temp6now {
    position: absolute;
    margin: 0;
    top: 275px;
    left: 1025px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: Indigo;
    text-align-last: center;
    border: none;
    border-radius: 5px;
    background-color: LightCyan;
    position: relative;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    margin: 0;
    width: 50px;
    height: 30px;
    top: 535px;
    left: 466px;
}

select:after{
  content: "";
}

.selectOpacity {
    cursor: default;
    opacity: 0.5;
}

.conditionerMode {
    height: 68px;
    position: absolute;
    margin: 0;
    top: 466px;
    left: 456px;
}

#conditHandMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 40px;
    height: 30px;
    top: 469px;
    left: 470px;
}

#conditSpMode {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 40px;
    height: 30px;
    top: 501px;
    left: 470px;
}

#conditOn {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 426px;
    left: 470px;
}

#conditionerImgId {
    position: absolute;
    margin: 0;
    width: 100px;
    top: 570px;
    left: 440px;
}

#conditioner2ImgId{
    position: absolute;
    margin: 0;
    width: 54px;
    top: 576px;
    left: 448px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*#conditioner2ImgId:hover {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}*/

.headerSheduleMode {
    font-family: "Measure";
    font-size: 60px;
    color: LightCyan;
    margin: 0;
}

.containerSheduleLightMode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 50px 30px 50px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 1);
    background-color: LightSkyBlue;
    text-align: center;
    width: 1500px;
    height: 200px;
}

.containerSheduleLightModeDisabled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    opacity: 0.3;
    margin: 30px 50px 30px 50px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 1);
    background-color: LightSkyBlue;
    text-align: center;
    width: 1500px;
    height: 200px;
}

.formSheduleLightMode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sheduleInput {
    margin: 10px 20px;
    width: 334px;
    height: 40px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 25px;
    background-color: LightCyan;
    outline: none;
    cursor: pointer;
}

.sheduleInput:hover {
    background-color: white;
}

.sheduleInputDisabled {
    margin: 10px 20px;
    width: 334px;
    height: 40px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 25px;
    background-color: LightCyan;
    outline: none;
    cursor: default;
}

.labelSheduleModeLightOnOff {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    color: LightCyan;
    margin-left: 30px;
}

footer {
    width: 1500px;
    margin: 30px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#sheduleSubmitButton{
    width: 150px;
    height: 44px;
    border-radius: 5px;
}

#current_date_time_block {
    display: inline-block;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 25px;
    color: PowderBlue;
}

.log_href {
    display: inline-block;
    font-size: 25px;
    color: PowderBlue;
}

/* подключаю дизайнерские шрифты */
@font-face {
  font-family: "Accuratist";
  src: url("../fonts/Accuratist.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Measure";
  src: url("../fonts/Measure.ttf");
  font-style: normal;
  font-weight: normal;
}
