<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>SmartHouse</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body onload="draw()">
        <div>
            <h1>Smart House</h1>
        </div>
        <div class="containerCanvas">
            {% if perms.smartHouseApp.can_set_temperature %}
                <button id="conditOn">вкл&#176;</button>
                <select id="tempSP">
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23" selected>23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
                <input id="conditHandMode" type="radio" name="conditMode" checked>
                <input id="conditSpMode" type="radio" name="conditMode">
            {% endif %}

            <p id="temp1now">16&#176;C</p>
            <p id="temp2now">16&#176;C</p>
            <p id="temp3now">16&#176;C</p>
            <p id="temp4now">16&#176;C</p>
            <p id="temp5now">16&#176;C</p>
            <p id="temp6now">16&#176;C</p>

            <input type="image" id="light1on" src="static/images/lightOff.png" alt="вкл1" onclick="changeLightButtonState()">
            <input type="image" id="light2on" src="static/images/lightOff.png" alt="вкл2">
            <input type="image" id="light3on" src="static/images/lightOff.png" alt="вкл3">
            <input type="image" id="light4on" src="static/images/lightOff.png" alt="вкл4">
            <input type="image" id="light5on" src="static/images/lightOff.png" alt="вкл5">
            <input type="image" id="light6on" src="static/images/lightOff.png" alt="вкл6">

            <img id="light1modeId" class="light1Mode" src="static/images/lightModeHand.png">
            <input id="light1handMode" type="radio" name="light1mode" checked>
            <input id="light1owmMode" type="radio" name="light1mode">
            <input id="light1sheduleMode" type="radio" name="light1mode">

            <img id="light2modeId" class="light2Mode" src="static/images/lightModeHand.png">
            <input id="light2handMode" type="radio" name="light2mode" checked>
            <input id="light2owmMode" type="radio" name="light2mode">
            <input id="light2sheduleMode" type="radio" name="light2mode">

            <img id="light3modeId" class="light3Mode" src="static/images/lightModeHand.png">
            <input id="light3handMode" type="radio" name="light3mode" checked>
            <input id="light3owmMode" type="radio" name="light3mode">
            <input id="light3sheduleMode" type="radio" name="light3mode">

            <img id="light4modeId" class="light4Mode" src="static/images/lightModeHand.png">
            <input id="light4handMode" type="radio" name="light4mode" checked>
            <input id="light4owmMode" type="radio" name="light4mode">
            <input id="light4sheduleMode" type="radio" name="light4mode">

            <img id="light5modeId" class="light5Mode" src="static/images/lightModeHand.png">
            <input id="light5handMode" type="radio" name="light5mode" checked>
            <input id="light5owmMode" type="radio" name="light5mode">
            <input id="light5sheduleMode" type="radio" name="light5mode">

            <img id="light6modeId" class="light6Mode" src="static/images/lightModeHand.png">
            <input id="light6handMode" type="radio" name="light6mode" checked>
            <input id="light6owmMode" type="radio" name="light6mode">
            <input id="light6sheduleMode" type="radio" name="light6mode">

            <canvas id="appLayout" width="1500" height="700">
            </canvas>
        </div>
        <div>
            <a href="{% url 'logout' %}">
                Log out
            </a>
        </div>
        <script src="{% static 'js/script.js' %}">
        </script>
    </body>
</html>
