<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>SmartHouse</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body onload="draw()">
        <header>
            <h1>Smart House</h1>
        </header>
        <div class="containerCanvas">
            {% if perms.smartHouseApp.can_set_temperature %}
                <input type="image" id="conditOn" src="static/images/blue_button.png" alt="вклХолод" onclick="onClickConditionerButton()">
                <select id="tempSP" disabled="True" class="selectOpacity" onchange="changeSetPoint()">
                    <option value="16">16&#176;C</option>
                    <option value="17">17&#176;C</option>
                    <option value="18">18&#176;C</option>
                    <option value="19">19&#176;C</option>
                    <option value="20">20&#176;C</option>
                    <option value="21">21&#176;C</option>
                    <option value="22">22&#176;C</option>
                    <option value="23" selected>23&#176;C</option>
                    <option value="24">24&#176;C</option>
                    <option value="25">25&#176;C</option>
                    <option value="26">26&#176;C</option>
                    <option value="27">27&#176;C</option>
                    <option value="28">28&#176;C</option>
                    <option value="29">29&#176;C</option>
                    <option value="30">30&#176;C</option>
                </select>
                <img id="conditionerModeId" class="conditionerMode" src="static/images/conditionerHandMode.png">
                <input id="conditHandMode" type="radio" name="conditMode" checked>
                <input id="conditSpMode" type="radio" name="conditMode">
                <img id="conditionerImgId" src="static/images/air-conditioner_part1.png" alt="кондиционер">
                <img id="conditioner2ImgId" src="static/images/air-conditioner_part2.png" alt="кондиционер">
            {% endif %}

            <p class="roomTemperature" id="temp1now"></p>
            <p class="roomTemperature" id="temp2now"></p>
            <p class="roomTemperature" id="temp3now"></p>
            <p class="roomTemperature" id="temp4now"></p>
            <p class="roomTemperature" id="temp5now"></p>
            <p class="roomTemperature" id="temp6now"></p>

            <input type="image" id="lightSwitcherRoom1" src="static/images/lightOff.png" alt="вкл1" onclick="onClick1LightButton()">
            <input type="image" id="lightSwitcherRoom2" src="static/images/lightOff.png" alt="вкл2" onclick="onClick2LightButton()">
            <input type="image" id="lightSwitcherRoom3" src="static/images/lightOff.png" alt="вкл3" onclick="onClick3LightButton()">
            <input type="image" id="lightSwitcherRoom4" src="static/images/lightOff.png" alt="вкл4" onclick="onClick4LightButton()">
            <input type="image" id="lightSwitcherRoom5" src="static/images/lightOff.png" alt="вкл5" onclick="onClick5LightButton()">
            <input type="image" id="lightSwitcherRoom6" src="static/images/lightOff.png" alt="вкл6" onclick="onClick6LightButton()">

            <img id="light1modeId" class="light1Mode" src="static/images/lightModeHand.png">
            <input id="light1handMode" type="radio" name="light1mode" onclick="onclick1handMode()" checked>
            <input id="light1owmMode" class="lightOwmModeClass" type="radio" name="light1mode" onclick="onclick1owmMode()">
            <input id="light1sheduleMode" class="lightSheduleModeClass" type="radio" name="light1mode" onclick="onclick1sheduleMode()">

            <img id="light2modeId" class="light2Mode" src="static/images/lightModeHand.png">
            <input id="light2handMode" class="lightNotSheduleModeClass" type="radio" name="light2mode" onclick="onclick2handMode()" checked>
            <input id="light2owmMode" class="lightNotSheduleModeClass" type="radio" name="light2mode" onclick="onclick2owmMode()">
            <input id="light2sheduleMode" class="lightSheduleModeClass" type="radio" name="light2mode" onclick="onclick2sheduleMode()">

            <img id="light3modeId" class="light3Mode" src="static/images/lightModeHand.png">
            <input id="light3handMode" class="lightNotSheduleModeClass" type="radio" name="light3mode" onclick="onclick3handMode()" checked>
            <input id="light3owmMode" class="lightNotSheduleModeClass" type="radio" name="light3mode" onclick="onclick3owmMode()">
            <input id="light3sheduleMode" class="lightSheduleModeClass" type="radio" name="light3mode" onclick="onclick3sheduleMode()">

            <img id="light4modeId" class="light4Mode" src="static/images/lightModeHand.png">
            <input id="light4handMode" class="lightNotSheduleModeClass" type="radio" name="light4mode" onclick="onclick4handMode()" checked>
            <input id="light4owmMode" class="lightNotSheduleModeClass" type="radio" name="light4mode" onclick="onclick4owmMode()">
            <input id="light4sheduleMode" class="lightSheduleModeClass" type="radio" name="light4mode" onclick="onclick4sheduleMode()">

            <img id="light5modeId" class="light5Mode" src="static/images/lightModeHand.png">
            <input id="light5handMode" class="lightNotSheduleModeClass" type="radio" name="light5mode" onclick="onclick5handMode()" checked>
            <input id="light5owmMode" class="lightNotSheduleModeClass" type="radio" name="light5mode" onclick="onclick5owmMode()">
            <input id="light5sheduleMode" class="lightSheduleModeClass" type="radio" name="light5mode" onclick="onclick5sheduleMode()">

            <img id="light6modeId" class="light6Mode" src="static/images/lightModeHand.png">
            <input id="light6handMode" class="lightNotSheduleModeClass" type="radio" name="light6mode" onclick="onclick6handMode()" checked>
            <input id="light6owmMode" class="lightNotSheduleModeClass" type="radio" name="light6mode" onclick="onclick6owmMode()">
            <input id="light6sheduleMode" class="lightSheduleModeClass" type="radio" name="light6mode" onclick="onclick6sheduleMode()">

            <canvas id="appLayout" width="1500" height="700">
            </canvas>
        </div>
        <div id="containerSheduleLightModeId" class="containerSheduleLightModeDisabled">
            <div>
                <h2 class="headerSheduleMode">Освещение по расписанию:</h2>
            </div>
            <form class="formSheduleLightMode" name="lightSheduleModeForm">
                <p class="labelSheduleModeLightOnOff">ВКЛЮЧИТЬ:</p>
                <input id="sheduleLightOnId" disabled="True" class="sheduleInputDisabled" type="datetime-local"
                       name="sheduleLightOn" onchange="onClickInputSheduleMode()">
                <p class="labelSheduleModeLightOnOff">ВЫКЛЮЧИТЬ:</p>
                <input id="sheduleLightOffId" disabled="True" class="sheduleInputDisabled" type="datetime-local"
                       name="sheduleLightOff" onchange="onClickInputSheduleMode()">
            </form>
        </div>
        <footer>
            <a class="log_href" href="{% url 'logout' %}">
                Log out
            </a>
            <div id="current_date_time_block"></div>
        </footer>
        <script src="{% static 'js/script.js' %}">
        </script>
    </body>
</html>
